.home{
    width: 100%;
    height: 100%;
    .home-slider{
        margin: auto;
        width: 90vw;
        height: 60vh;
        background-color: #fff;
        border-radius: 14px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        display: flex;
        align-items: center;
        justify-content: space-around;
        .content{
        font-size: 1.1rem;
        width: 40vw;
        height: 40vh;
        }
        .content-hidden{
        font-family: 'Caveat', cursive;
        font-size: 1.4rem;
        width: 40vw;
        height: 40vh;
        display: none;
        }
        .slider{
        width: 35vw;
        height: 40vh;

        }
    }
}
@media screen and (max-width: 800px) {
    .home{
        .home-slider{
            display:block;
            height: fit-content;
            padding: 2vh 2vw;
            .content{
                display: none;
            }
            .content-hidden{
                display: block;
                width: 95%;
                height: fit-content;
            }
            .slider{
                margin: 0 auto;
                width: 90%;
                height: 30vh;
            }
        }
    }
}