.header{
    margin: 2vh 5vw;
    padding: 2vh 0;
    position:sticky;
    position: -webkit-sticky;
    z-index: 10; 
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    border-radius: 14px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  }
  .header h3{
    background: linear-gradient( to right,#647DEE 0%, #7F53AC 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
  }
  
  .list-links li{
    list-style: none;
    display: inline-block;
    padding: 0 25px ;
  }
  .list-links li a{
    color:black;
    text-decoration: none;
    position: relative;
    display: flex;
    overflow: hidden;
    padding: 10px 0;
    transition: all 1s ease 0s;
  }
  .list-links li a.active{
    background: linear-gradient(#647DEE, #2A2A72);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .list-links li a:hover{
    color: #3EADCF;
  }
  .list-links li a:before{
    content: '';
    position: absolute;
    top: 0;
    right: 100%;
    width: 50%;
    height: 2px;
    background: linear-gradient(#009FFD, #2A2A72);
    transition: .5s cubic-bezier(0.075,0.82,0.165,1);
  }
  .list-links li a:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 100%;
    width: 75%;
    height: 2px;
    background: linear-gradient(#009FFD, #2A2A72);
    transition: .5s cubic-bezier(0.075,0.82,0.165,1);
  }
  .list-links li a:hover:before{
    right: 0;
    color:#3EADCF;
  }
  .list-links li a:hover:after{
    left: 0;
    color:#3EADCF;
  }
  