.st0{fill-rule:evenodd;stroke:#000000;clip-rule:evenodd;fill:#FFFFFF;}
.st1{fill:none;stroke:#000000;stroke-width:0.5;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
.st2{fill-rule:evenodd;stroke:#000000;clip-rule:evenodd;fill:#FFFFFF;}
.st3{fill:none;stroke:#000000;stroke-width:0.5;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
.st4{fill-rule:evenodd;stroke:#000000;clip-rule:evenodd;fill:#FFFFFF;}
.st5{fill-rule:evenodd;stroke:#000000;clip-rule:evenodd;fill:#FFFFFF;}
.st6{fill-rule:evenodd;stroke:#000000;clip-rule:evenodd;fill:#FFFFFF;}
.st7{fill-rule:evenodd;stroke:#000000;clip-rule:evenodd;fill:#FFFFFF;}
.st8{fill-rule:evenodd;stroke:#000000;clip-rule:evenodd;fill:#FFFFFF;}
.st9{fill-rule:evenodd;stroke:#000000;clip-rule:evenodd;fill:#FFFFFF;}

.st10{fill:none;stroke-miterlimit:10;}
.st11{font-family:Liberation Sans,Arial,Sans-serif;}
.st12{font-size:16px;}
.st13{stroke:#000000;fill:#FFFFFF;}